/esercitrazionejava/esercitrazionejava.iml
/.idea/codeStyles/
/.idea/libraries/
/.idea/.gitignore
/.idea/modules.xml
/.idea/jarRepositories.xml
/.idea/Esercitazione-Java-1.iml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/vcs.xml
/esercitrazionejava/target/classes/esempio.csv
/esercitrazionejava/target/classes/it/devlec/csv/EsempioCSV$1.class
/esercitrazionejava/target/classes/it/devlec/csv/EsempioCSV.class
/esercitrazionejava/target/classes/it/devlec/excel/EsempioExcel.class
/esercitrazionejava/target/classes/it/devlec/json/EsempioJSON.class
/esercitrazionejava/target/classes/it/devlec/log/EsempioLog.class
/esercitrazionejava/target/classes/it/devlec/pdf/EsempioPDF.class
/esercitrazionejava/target/classes/it/devlec/EsercitazioneJavaMain.class
/esercitrazionejava/target/classes/excel.xlsx
/esercitrazionejava/target/classes/it/devlec/exceltopdf/ExcelToPdf.class
/esercitrazionejava/target/classes/exprivia.jpg
/esercitrazionejava/target/classes/log4j2.xml
/app/2023-08-10/logSimple.log
/esercitrazionejava/target/classes/fromExcelToPDF.pdf
/esercitrazionejava/target/classes/mieiAutori.csv
/esercitrazionejava/target/classes/mioExcelGenerato.xlsx
/esercitrazionejava/target/classes/mioPdf.pdf
